<footer class="py-5 bg-black text-light">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1">
        <a rel="author" href="{{ "/" | relative_url }}">
          <img src="{{ site.logo_white }}" height="40px" alt="{{ site.title | escape }}"/>
        </a>
        <p class="description">
            Pythia is an <span style="font-weight: 400">AI Research Company</span> based in Barcelona and Mallorca.
            Our mission is to deliver the latest state-of-the-art computer science research achievements to the world as Applied AI Systems and Tools.
        </p>
      </div>
      <div class="col-5 offset-1 text-right">
        <h2>Locations</h2>
        <div>
          <p><strong>Sabadell, Barcelona</strong></p>
          <ul class="list-unstyled">
            <li>Carrer Estació, 56, 1er, 2a</li>
            <li>08202 - Sabadell, Barcelona</li>
          </ul>
        </div>
        <div>
          <p><strong>Palma, Mallorca</strong></p>
          <ul class="list-unstyled">
            <li>Joan Bonet Nadal, 22</li>
            <li>07005 - Palma, Illes Balears</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Pythia Consulting S.L. 2019</p>
  </div>
</footer>
